<header>
  テスト/<%= @level.name %>
</header>

<!--ここの部分をjavascriptで管理する-->
<div class="">
  <% @questions.each do |question| %>
    <div class="">
      <%= question.content %>
      <% question.choices.each do |choice| %>
        <p><%= choice.content %></p>
      <% end  %>
    </div>
  <% end %>
</div>

<%= link_to "諦める", test_index_path, data: { confirm: "本当に離脱しますか？" }, class: "nav-link btn btn-blue" %>