<header>
  TOP
</header>
<% unless user_signed_in? %>
  <div class="top-btn-wrapper">
    <div>
      <%= link_to "ログイン", new_user_session_path, class: "nav-link btn btn-blue" %>
    </div>
    <div>
      <%= link_to "新規登録", new_user_registration_path, class: "nav-link btn btn-blue" %>
    </div>
  </div>
<% else %>
  <div class="category-btn-wrapper">
    <div class="top">
      <%= link_to "テスト", tests_path, class: "nav-link category-btn" %>
      <a href="#" class="nav-link category-btn">単語帳</a>
    </div>
    <div class="bottom">
      <%= link_to "ランキング", rank_index_path, class: "nav-link category-btn" %>
    </div>
  </div>
<% end %>
