<header>
  ランキング
</header>

<div class="back">
  <%= link_to root_path, class: 'nav-link' do %>
    <div><i class="fas fa-arrow-left"></i>戻る</div>
  <% end %>
</div>

<% @level.each do |level| %>
  <div class="level-wrapper">
    <div class="radius-btn-wrapper">
      <%= link_to level.name, ranking_level_path(level), class: "nav-link btn radius-btn btn-blue" %>
    </div>
  </div>
<% end %>