<header>
  Test
</header>

<div class="back">
  <%= link_to en_top_path, class: 'nav-link' do %>
    <div><i class="fas fa-arrow-left"></i> Back</div>
  <% end %>
</div>

<div class="level-container">
  <% @level.each_with_index do |level, i| %>
    <div class="level-wrapper">
      <div class="level-name">
        Level<%= i+1 %>
      </div>
      <div class="radius-btn-wrapper">
        <%= link_to "START", question_en_level_path(level), class: "nav-link btn radius-btn btn-blue" %>
      </div>
    </div>
  <% end %>
</div>