<header>
  Wordbook
</header>

<div class="back">
  <%= link_to en_top_path, class: 'nav-link' do %>
    <div><i class="fas fa-arrow-left"></i> Back</div>
  <% end %>
</div>

<% @level.each do |level| %>
  <div class="level-wrapper">
    <div class="radius-btn-wrapper">
      <%= link_to "Level#{level.id}", word_en_level_path(level), class: "nav-link btn radius-btn btn-blue" %>
    </div>
  </div>
<% end %>