<header>
  wordbook
</header>

<% @level.each do |level| %>
  <div class="level-wrapper">
    <div class="radius-btn-wrapper">
      <%= link_to level.name, word_level_path(level), class: "nav-link btn radius-btn btn-blue" %>
    </div>
  </div>
<% end %>