.form-container {
  margin: 5% 10%;
  .form-field {
    & > .form {
      border: none;
      width: 100%;
      font-size: 16px;
      padding: 2px 0;
      border-bottom: 1px solid black;
    }
  }
  .form-btn-wrapper {
    margin-top: 1%;
    text-align: right;
  }
}


div.help-link-wrapper{
  width: 60%;
  margin: 2% auto;
  text-align: right;
  font-size: 1.1rem;
  .help-link{
    color: #62A1CB;
    display: inline-block;
    padding-right: 16px;
    position: relative;
    font-size: 1.5rem;
    &:before, &:after{
      content: "";
      display: block;
      transform: skewX(45deg);
      position: absolute;
      right: 0;
      bottom: 6px;
    }
    &:before{
      width: 12px;
      height: 3px;
      background: #62A1CB;
    }
    &:after{
      width: 4px;
      height: 8px;
      background: #62A1CB;
    }
  }
}