.adjust-screen {
  position: relative;
  height: 100vh;
  width: 100%;
}

.screen-area {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-sizing: border-box;
  height: 592px;
  max-width: 432px;
  padding: 0;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// top/ログイン前
.nav-link {
  text-decoration: none;
}

.btn {
  color: white;
  padding: 2% 4%;
}

.btn-blue {
  background-color: blue;
}

.top-btn-wrapper {
  margin: 50% 10%;
  & > div {
    margin: 10% auto;
    text-align: center;
  }
}

// top/ログイン後
.select-lang{
  text-align: right;
  margin: 1%;
}

.active{
  color: black;
  font-weight: bold;
}

.passive{
  color: #999999;
}

.category-btn-wrapper {
  margin: 25% 10%;
  .top {
    margin: 3% auto 25%;
    display: flex;
    justify-content: space-between;
  }
  .bottom {
    text-align: center;
  }
}

.category-btn {
  color: black;
  border: 1px solid black;
  padding: 10% 10%;
}

.back{
  margin: 1%;
  div {
    color: black;
  }
}

@media (max-width: 700px){
  .screen-area{
    height: 100%;
    max-width: 100%;
  }
}