.right{
  text-align: right;
  margin: 2%;
  .fas{
    color: black;
    font-size: 1.2rem;
  }
}

.word-container{
  margin-top: 15%;
  .word-wrapper{
    display: none;
    .word-subject{
      text-align: center;
      font-weight: bold;
      font-size: 3rem;
      margin: 10% 0;
    }
    .word-meaning{
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

.word-btn{
  margin: 30% 5%;
  display: flex;
  justify-content: space-between;
  .fas{
    font-size: 80px;
  }
}