.right{
  text-align: right;
  margin: 2%;
  .fas{
    color: black;
    font-size: 1.2rem;
  }
}

.word-container{
  margin-top: 5%;
  .word-wrapper{
    display: none;
    .word-cnt{
      margin-left: 2%;
    }

    .word-both{
      text-align: center;
      .word-img{
        .word-image{
          width: 320px;
          height: 200px;
        }
      }
      .word-meaning{
        font-size: 1rem;
        margin: 1% 0 10%;
      }
    }
    .word-subject{
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}

.word-btn{
  margin: 10% 5%;
  display: flex;
  justify-content: space-between;
  .fas{
    font-size: 70px;
  }
}